* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2937;
}

.container {
  padding: 0 200px;
  margin: 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.nav-header ul {
  display: flex;
  gap: 20px;
}

.nav-header a {
  text-decoration: none;
  color: #e5e7eb;
  font-family: Roboto;
  font-size: 18px;
}
.nav-header li {
  list-style: none;
}

.header_logo a {
  color: #f9faf8;
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
}

.first_section {
  background-color: #1f2937;
}
.first_section_container {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.first_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.first_container h1 {
  color: white;
}
.first_container p {
  color: white;
  width: 350px;
}
.first_container a {
  text-decoration: none;
  color: white;
  background-color: rgb(19, 160, 207);
  border-radius: 3px;
  padding: 2px 10px;
}

.second_container {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.second_container p {
  color: white;
}

.second_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px 40px;
}
.second_section_container h2 {
  display: flex;
  justify-content: center;
}

.section_information {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.img {
  width: 150px;
  height: 150px;
  border: 2px solid blue;
  border-radius: 10px;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.third_section {
  background-color: #e5e6ea;
  padding: 60px;
}

.third_section_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.citat {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}

.autor {
  font-family: Roboto;
  font-size: 25px;
}
